</main>
	
<footer class="site-footer">
	<p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }} Eli Watson All Rights Reserved</p>
	<a href="/Home/Pages/Links" target="_self">Links</a>
    <a href="/Home/Pages/Login.html" target="_self">Login</a>
    <a href="/Home/Pages/Legal.html" target="_self">TOS/Privacy Policy</a>
    <!-- <a href="/Home/Pages/IRC.html" target="_self">Chat on Our Irc Server</a> -->
    <a href="https://github.com/Eli-Watson/eli-watson.github.io/issues/new" target="_self">Report an Issue</a>
</footer>

</body>
</html>
